.landDash{
    display:flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px;
}


.colorBrand{
    color: #FD377E;
}

.titleDash{
    color:white;
    margin: 50px;
    text-align: center;
}
@media (max-width: 600px){
    .landDash {
        display: block; 
    }
    h2{
        margin: 0;
    }

}